/* fonts */

.jqcloud {
  font-family: 'Ubuntu Condensed','微軟正黑體','Microsoft JhengHei', sans-serif;
  font-size: 12px;
  line-height: normal;
}

.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 280%; }
div.jqcloud span.w9 { font-size: 260%; }
div.jqcloud span.w8 { font-size: 240%; }
div.jqcloud span.w7 { font-size: 220%; }
div.jqcloud span.w6 { font-size: 200%; }
div.jqcloud span.w5 { font-size: 180%; }
div.jqcloud span.w4 { font-size: 160%; }
div.jqcloud span.w3 { font-size: 140%; }
div.jqcloud span.w2 { font-size: 120%; }
div.jqcloud span.w1 { font-size: 100%; }


/* colors */
div.jqcloud { color: #98db18; }
div.jqcloud a { color: inherit; }
div.jqcloud span a[href]:hover { color: #e94252; }
div.jqcloud span.w10 a { color: #3aadb9; }
div.jqcloud span.w9 a { color: #e68d15; }
div.jqcloud span.w8 a { color: #843014; }
div.jqcloud span.w7 a { color: #62693d; }
div.jqcloud span.w6 a { color: #a8a852; }
div.jqcloud span.w5 a { color: #785430; }
div.jqcloud span.w4 a { color: #8db9aa; }
div.jqcloud span.w3 a { color: #cc99cc; }
div.jqcloud span.w2 a { color: #525a4b; }
div.jqcloud span.w1 a { color: #9d88d6; }


/* layout */
div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }
